PORT=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

ADMIN_SECRET_KEY=
ACCESS_TOKEN_SECRET=

# Email Configuration
EMAIL_USER=
EMAIL_PASS=
# Frontend URL for reset password link
FRONTEND_URL=

