PORT=3001

DATABASE_URL=postgresql://username:password@host:port/dbname
DIRECT_URL=postgresql://username:password@host:port/dbname

ADMIN_SECRET_KEY=your_admin_secret_here
ACCESS_TOKEN_SECRET=your_jwt_secret_here

EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password

FRONTEND_URL=http://localhost:3000