PORT=3001


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.oaontpomufisvretkndu:%5&4gzpDE*3yUY5@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.oaontpomufisvretkndu:%5&4gzpDE*3yUY5@aws-0-us-east-2.pooler.supabase.com:5432/postgres"


ADMIN_SECRET_KEY=Glasstone@!@
ACCESS_TOKEN_SECRET=ret3548rys2qwe07uf65e6sweq43

# Email Configuration
EMAIL_USER=
EMAIL_PASS=
# Frontend URL for reset password link
FRONTEND_URL=

